@import './variables.scss';

.button {
    border: 2px solid $primary-white;
    border-radius: 50px;

    background: transparent;
    color: $primary-white;
    padding-block: 1.5rem;
    padding-inline: 5rem;

    font-family: $font-source-sans-3;
    font-size: 1.25rem;

    &--small {
        padding: 0.25rem;
        font-size: 0.65rem;
    }

    @media screen and (max-width: $media-tablet) {
        padding-block: 1rem;
        padding-inline: 3rem;
    }

    @mixin user-interacting {
        transition: all 0.2s ease-in;
        transform: scale(1.05);
        background-color: $primary-white;
        color: $primary-black;
    }

    &:hover {
        @include user-interacting();
    }

    &:focus {
        @include user-interacting();
    }
    &:not(:hover) {
        transition: all 0.2s ease-in;
    }
}

.centered-dash {
    @include position-centered();
    border-left: 1px dashed rgba(255, 255, 255, 0.25);

    &--top {
        @extend .centered-dash;
        padding-top: 5rem;
    }

    &--bottom {
        @extend .centered-dash;
        padding-bottom: 5rem;
    }

    &--solid {
        @extend .centered-dash;
        border-left: 1px solid rgba(255, 255, 255, 0.25);
    }

    &--relative {
        @extend .centered-dash;
        position: relative;
    }
}

.horizontal-graphic {
    position: relative;
    height: 15rem;

    & div:nth-of-type(2) {
        position: relative;
        top: 68%;
        left: 70%;
    }

    &--left {
        @extend .horizontal-graphic;
        position: relative;
        top: 67%;
        left: 70%;

        & div:nth-of-type(2) {
            position: relative;
            top: 0;
            left: -65px;
        }
    }
}

.horizontal-dash {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 20%;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.25);

    &--left {
        @extend .horizontal-dash;
        top: 50%;
        left: 0;
        width: 30%;
    }
}
