@import './variables.scss';

.section {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.button {
    border: 2px solid $primary-white;
    border-radius: 50px;

    background: transparent;
    color: $primary-white;
    padding-block: 1.5rem;
    padding-inline: 5rem;

    font-family: $font-source-sans-3;
    font-size: 1.25rem;

    &--small {
        padding: 0.25rem;
        font-size: 0.65rem;
    }

    &:hover {
        transition: all 0.2s ease-in;
        transform: scale(1.05);
        background-color: $primary-white;
        color: $primary-black;
    }
    &:not(:hover) {
        transition: all 0.2s ease-in;
    }
}

.centered-dash {
    @include position-centered();
    border-left: 1px dashed rgba(255, 255, 255, 0.25);

    &--top {
        @extend .centered-dash;
        padding-top: 5rem;
    }

    &--bottom {
        @extend .centered-dash;
        padding-bottom: 5rem;
    }

    &--relative {
        @extend .centered-dash;
        position: relative;
    }
}
