$dlp-light: #071D21;
$dlp-dark: #030B0C;
$dlp-sage: #10424B;
$primary-white: #fff;
$primary-black: #000;

$font-playfair-display: var(--font-playfair-display);
$font-source-sans-3: var(--font-source-sans-3);
