$dlp-light: #071d21;
$dlp-dark: #030b0c;
$dlp-sage: #10424b;
$primary-white: #fff;
$primary-black: #000;

$font-playfair-display: var(--font-playfair-display);
$font-source-sans-3: var(--font-source-sans-3);

@mixin round-border {
    border-radius: 5px;
    border: none;
}
