@import '../../../styles/variables.scss';

.get-in-touch {
    background-image: url('../../../../../public/dlp-footer-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-methods {
    width: 50%;
    padding: 2rem;

    color: $primary-white;
    font-family: $font-source-sans-3;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
}

.contact {
    width: 50%;
    text-align: center;
    color: $primary-white;

    &__title {
        font-style: italic;
        font-weight: 700;
        font-size: 2.5rem;
    }

    &__form {
        margin-block: 2rem;
        gap: 0.5rem;
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        &__left-column {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 1rem;

            & input {
                @include round-border();
                padding: 0.5rem;
            }
        }

        &__message {
            @include round-border();
            width: 100%;
            padding: 0.5rem;
        }
    }

    &__legal {
        font-family: $font-source-sans-3;
        font-size: 0.75rem;
        font-weight: 300;

        & a:visited {
            color: $primary-white;
        }
    }
}

.footer-details {
    width: 50%;

    & p {
        font-size: 0.75rem;
        font-weight: 400;
    }
}

.icons {
    aspect-ratio: 1/1;
    width: 40%;
}
