@import '@styles/variables.scss';

.navbar {
    width: 80%;
    margin-inline: 2rem;
    padding: 5rem;

    @media screen and (max-width: $media-tablet) {
        width: 100%;
        padding-bottom: 1rem;
    }

    &__links {
        display: flex;
        font-family: $font-playfair-display;

        @media screen and (max-width: $media-tablet) {
            margin-top: 2rem;
        }
        @media screen and (max-width: $media-phone) {
            margin-top: 2rem;
            gap: 1rem;
            flex-direction: column;
        }
    }

    &__link {
        text-decoration: none;
        color: $primary-white;
    }

    &__item {
        display: flex;
        gap: 0.25rem;
        padding-bottom: 1rem;
        margin-inline: 2rem;
        list-style: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        text-decoration: none;

        &:hover {
            transition: all 0.2s ease-in;
            border-bottom: 1px solid $primary-white;
        }
        &:not(:hover) {
            transition: all 0.2s ease-out;
        }
    }
}
