@import '@styles/variables.scss';

.hero {
    height: 100%;
    min-height: 100vh;
    padding-bottom: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: column;

    color: $primary-white;

    @media screen and (max-height: 1000px) {
        & img {
            height: 150%;
        }
    }
}

.hero-title {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__pre-text {
        display: block;
        font-style: italic;
        font-family: $font-playfair-display;
        font-size: 3rem;

        margin-bottom: 2rem;

        @media screen and (max-width: $media-phone) {
            font-size: 2rem;
            margin-bottom: 0;
        }
    }

    &__main-text {
        font-style: normal;
        font-family: $font-source-sans-3;
        font-size: 5rem;
        font-weight: 600;

        line-height: 6rem;

        width: 50%;
        word-wrap: break-word;

        @media screen and (max-width: $media-phone) {
            font-size: 2rem;
            line-height: 4rem;
            margin-bottom: 1rem;
        }
    }
}

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__button {
        border: 2px solid $primary-white;
        border-radius: 50px;

        background: transparent;
        color: $primary-white;
        padding-block: 1.5rem;
        padding-inline: 5rem;

        font-family: $font-source-sans-3;
        font-size: 1.25rem;

        &:hover {
            background-color: $primary-white;
            color: $primary-black;
            transition: all 0.3s ease;
        }
    }

    &__arrow {
        margin-block: 4rem;
    }
}

.background--vert-fix {
    position: absolute;
    height: 100%;
    width: 100%;

    @media screen and (max-width: $media-phone) {
        height: 140%;
    }
}
