@import '@styles/variables.scss';

.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    &--responsive {
        @extend .row;
        @media screen and (max-width: $media-tablet) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &--between {
        @extend .row;
        justify-content: space-between;
    }

    &--end {
        @extend .row;
        justify-content: flex-end;
    }

    &--eighth {
        @extend .row;
        height: 12.5%;
    }

    &--full-height {
        @extend .row;
        height: 10%;
    }

    &--normal {
        @extend .row;
        height: 200px;

        @media screen and (max-width: $media-tablet) {
            height: 100%;
        }
    }
}
