@import "../../styles/variables.scss";

.c-split-background {
    overflow: hidden;
    background-color: $dlp-light;

    &__background-left {
        position:absolute;
        left: -50%;
        transform: rotate(-15deg)  ;
        width: 100%;
        height: 150%;
        background-color: $dlp-dark;
      }

      &__background-text {
        position: relative;
        left: calc(100% - 3.5rem);
        //TODO tweak for different devices, position drifts as viewport grows/shrinks
        top: 17.5%;
        
        user-select: none;
        writing-mode: vertical-rl;
        
        color: $primary-white;
        font-size: 15rem;
        opacity: 25%;
        font-style: italic;
        font-family: $primary-font;
      }

      &__children {
        position: relative;
        color: white;
      }

  }