@import '@styles/variables.scss';

.our-work {
    position: relative;
}

.our-work__grid {
    display: grid;

    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    gap: 2rem;

    & > div {
        color: white;
        width: 100%;
        height: 100%;
    }
}

.content {
    box-sizing: border-box;
    padding: 5rem;
    text-align: center;
    font-size: 2rem;
    border: 1px transparent #fff;

    &__title {
        font-size: 4rem;
        font-weight: 700;
        line-height: 5rem;

        & em:first-of-type {
            font-size: 7rem;
        }
        & em {
            font-size: 6rem;
        }
    }

    &__body {
        padding-block: 4rem;

        font-size: 1.5rem;
        font-weight: 400;
    }

    &__background-text {
        @include position-centered();
        padding-top: 10%;

        line-height: 0.25;
        writing-mode: vertical-rl;

        @include faded-background-text();
    }

    &__seo-image-aside {
        display: flex;
        justify-content: center;
    }

    &__web-dev-aside {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding-inline: 4rem;

        & img {
            margin: 1rem;
            opacity: 0.5;
        }
    }

    &--left {
        @extend .content;
        text-align: start;
    }

    &--right {
        @extend .content;
        padding-top: 10rem;
        text-align: end;
    }
}
