@import '@styles/variables.scss';

.c-split-background {
    overflow: hidden;
    background-color: $dlp-light;

    &__background-left {
        position: absolute;
        left: -50%;
        top: 0;
        transform: rotate(-15deg);
        width: 100%;
        height: 150%;
        background-color: $dlp-dark;
        z-index: -1;
    }

    &__background-text {
        position: relative;
        left: calc(100% - 2.5rem);
        top: 25%;

        user-select: none;
        writing-mode: vertical-rl;

        @include faded-background-text();
        z-index: -2;
    }

    &__children {
        position: relative;
        color: white;
    }
}
