@import '../../styles/variables.scss';

.outer-circle {
    aspect-ratio: 1/1;
    height: 4rem;
    border-radius: 50%;
    padding: 0.5rem;
    opacity: 0.5;

    border: 1px solid $dlp-sage;

    &--greyscale {
        @extend .outer-circle;
        border: 1px solid gray;
    }
}

.inner-circle {
    height: 100%;
    border-radius: 50%;

    background-color: $dlp-sage;

    &--greyscale {
        @extend .inner-circle;
        background-color: gray;
    }
}

.center-dot {
    position: relative;
    aspect-ratio: 1/1;
    height: 15%;

    left: 42%;
    top: 42%;

    border-radius: 50%;

    background-color: gray;

    &--greyscale {
        @extend .center-dot;
        background-color: $dlp-dark;
    }
}
