.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &--between {
        @extend .row;
        justify-content: space-between;
    }

    &--full-height {
        @extend .row;
        height: 100%;
    }
}
