.row {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 100%;

    &--between {
        @extend .row;
        justify-content: space-between;
    }

    &--eighth {
        @extend .row;
        height: 12.5%;
    }

    &--full-height {
        @extend .row;
        height: 10%;
    }

    &--normal {
        @extend .row;
        height: 200px;
    }
}
