@import '@styles/variables.scss';

.what-we-do {
    position: relative;
    overflow: hidden;
    padding-top: 5rem;

    background-color: $dlp-light;
    z-index: 1;
    color: $primary-white;
}

.top {
    display: grid;

    width: 100%;

    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    gap: 2rem;

    &__grid--top-left {
        background-color: $primary-white;
        display: block;
        position: relative;
        height: 5px;
        width: 25%;
        top: 100%;
    }
    &__grid--top-right {
        line-height: 2rem;
    }
    &__grid--bottom-left {
        line-height: 3.5rem;
    }

    &__grid--bottom-right {
        margin: auto;
        margin-top: 4rem;
        height: 100%;
        width: 60%;
        display: flex;
    }
}

.middle {
    position: relative;
    width: 100%;
}

.bottom {
    text-align: center;
    padding-top: 1rem;

    font-size: 1rem;
    font-weight: 700;

    &__heading {
        font-size: 2.5rem;
    }

    & div {
        padding-block: 2rem;
        font-weight: 400;
    }

    & button {
        margin-top: 2rem;
    }
}

.border-details {
    &__top {
        position: absolute;
        top: 0;

        height: 50%;
        width: 100%;
        z-index: -1;

        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.25);
        border-right: 1px solid rgba($color: #fff, $alpha: 0.25);

        &-offset {
            position: relative;
            width: 105%;
            height: 100px;
            left: -2.5%;
            border-bottom: 1px solid rgba($color: #fff, $alpha: 0.25);
            border-left: 1px solid rgba($color: #fff, $alpha: 0.25);

            & > div {
                position: relative;
                top: -65%;
                left: -2rem;
            }

            &__bottom {
                height: 5rem;
                width: 100%;
                border-right: 1px solid rgba($color: #fff, $alpha: 0.25);
            }
        }
    }

    &__bottom {
        position: absolute;
        bottom: -53%;

        height: 103%;
        width: calc(50% + 1px);

        border-left: 1px solid rgba($color: #fff, $alpha: 0.25);
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.25);
    }

    &__offset {
        padding-top: 5rem;
    }
}
